@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
}

h1 {
    text-align: center;
}

#inputSelectors {
    display: flex;
    justify-content: center;
    align-items: center;
}

body div {
    text-align: center;
    display: inline-block;
    margin-inline: 5%;
}

#calculateContainer {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

#calculateContainer button {
    font-size: large;
    border-width: 1px;
    border-radius: 5px;
}
#contents {
    display: flex;
}

#resultsContainer {
    width: 100%;
    margin-top: 2%;
    text-align: center;
}

.costSum {
    margin: 0;
    display: inline-block;
}

.resultTextCheckbox {
    margin-left: 20px;
    display: inline;
    zoom: 1.5;
}

p button{
    margin: 0;
    margin-left: 10px;
    display: inline;
    border-width: 1px;
    border-radius: 4px;
    border-color: white;
}