@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
}

h1 {
    text-align: center;
}

#inputSelectors {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark {
    color: white;
    background-color: #222222;
}

.themeChanger {
    position: absolute;
    left: 30px;
    top: 10px;
    border: solid black;
    padding: 5px;
    border-radius: 5px;
}

.dark .themeChanger {
    border: solid white;
}

body div {
    text-align: center;
    display: inline-block;
    margin-inline: 5%;
}

#calculateContainer {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.dark button {
    background-color: rgb(55, 90, 127);
    color: white;
}

#calculateContainer button {
    font-size: large;
    border-width: 1px;
    border-radius: 5px;
}
#contents {
    display: flex;
}

#resultsContainer {
    width: 50%;
    margin-top: 2%;
    text-align: center;
}

#saves {
    width: 50%;
    margin-top: 1%;
}

.costSum {
    margin: 0;
    display: inline-block;
}

h3 button{
    margin: 0;
    margin-left: 1%;
    font-size: x-large;
    display: inline;
    border: none;
}